<html>
  <body>
    <form action="/reGenActLink" method="post">

      <label for="email"><b>Enter your email to Regenerate activation link:</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>

      <button type="submit" class="registerbtn">Regenerate Link</button>

    </form>
  </body>
</html>
